# --- PYTHON ---
**/__pycache__/
*.py[cod]
*$py.class

# --- IDE & SYSTÈME ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- ENVIRONNEMENT ---
.venv/
venv/
env/
.env

# --- DATA (Gestion fine) ---
# 1. On ignore tous les CSV par défaut...
*.csv
# 2. ...MAIS on force l'inclusion de TON dataset principal :
!src/data/raw/imdb_movies.csv
!data/raw/imdb_movies.csv

# 3. On ignore le contenu des dossiers processed
data/processed/*
src/data/processed/*
# (On garde les .gitkeep s'il y en a pour garder la structure des dossiers)
!data/processed/.gitkeep

# --- CACHE APPLI ---
# On ignore le cache JSON de l'IA (genai_cache.json)
*.json